@import "tailwindcss";

*{
  box-sizing: border-box;
}

                                /* Marquee Animation */

.marquee {
  overflow: hidden;
  width: 100vw; /* full browser width */
}

.marquee-track {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(-100%);
  }
}




.carousalIn{
  animation: carousalIn 1.5s ease-in-out 1;
  transform: translateX(-100%);
}

@keyframes carousalIn{
 from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}


.carousalOut{
  animation: carousalOut 1.5s ease-in-out 1;
  transform: translateX(-100%);
}

@keyframes carousalOut{
 from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}